@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hide {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Для Firefox */
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Для WebKit-браузеров */
  }
}
